body {
    background-color: #dedede;
}
header {
    margin: 0;
    color: #4d4d4d;
    background-color: #fda100;
    text-align: center;
}
header > h1 {
    font-size: 3em;
    font-weight: 200;
    position: relative;
    display: inline-block;
    padding: 0.3em 0;
    margin: 0.5em;
}
header > h1::after {
    content: '';
    background-color: #4d4d4d;
    position: absolute;
    bottom: 0;
    height: 3px;
    display: block;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
}
header > p {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    padding: 1em 0 2em 0;
}

body > div {
    text-align: center;
    background-color: #fda100;
}
body > div > a {
    display: block;
    padding: 0.5em;
    color: #333333;
}

#passwordForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    margin: auto;
}
#passwordForm input, form label {
    padding: 1em;
    margin-top: 1em;
    font-size: 1em;
}
#passwordForm label {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2em;
}
#passwordForm input:last-child {
    background-color: #000000;
    color: #dedede;
    text-transform: uppercase;
}
#passwordForm input:last-child:hover {
    background-color: #4d4d4d;
}

h2 {
    text-align: center;
    font-size: 2em;
}

body > section {
    background-color: #dedede;
}

#addPublication > div {
    text-align: center;
    background-color: #dedede;
}
#addPublication > div > div {
    background-color: #fff;
    padding: 1em;
    font-weight: 600;
}

#addPublication > div > button {
    color: #ffffff;
    background-color: #111111;
    padding: 1em 4em;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin: 1em;
    border: none;
}
#addPublication > div > button:hover {
    background-color: #4d4d4d;
}

#form-modal {
    position: fixed;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    overflow: scroll;
}
#form-modal form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 1em auto;
    text-align: left;
    background-color: #4d4d4d;
    color: #dedede;
    padding: 1em;
}
#form-modal > form > div,
#form-modal > form > input[type="file"] {
    text-align: center;
}
#form-modal > form > #formImgDiv {
    width: 100%;
    height: 300px;
    display: flex;
    margin: 15px auto;
    background-color: #dedede;
}
#form-modal > form > div img {
    object-fit: contain;
    width: 100%;
}
#form-modal > form > input[type="text"],
#form-modal > form > textarea {
    padding: 1em;
    font-family: Roboto;
}
#form-modal > form > input[type="submit"],
#form-modal > form > button {
    padding: 1em;
    margin: 1em;
}

#publicationsSelector {
    display: flex;
    background-color: #dedede;
}
#publicationsSelector > button {
    flex: 1;
    color: #ffffff;
    background-color: #4d4d4d;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    border: none;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    outline: none;
}
