header button {
    white-space: nowrap;
}

section h2 {
    font-size: 2.2em;
}

#ourProjects > img {
    width: auto;
    height: 100%;
    left: -190px;
}

#ourSkills > div:first-child img {
    width: auto;
    height: 100%;
}
