#sliderDiv {
    display: flex;
    height: 350px;
}
#sliderDiv > button {
    flex:1;
    background-color: #fff;
    font-size: 3em;
    color: #555555;
    border: none;
    outline: none;
}
#sliderDiv > button:hover {
    color: #000000;
    background-color: #f9f9f9;
}
#sliderDiv > a {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #707070;
    background-color: #ffffff;
}
#sliderDiv > a:hover {
    color: #000000;
    background-color: #f9f9f9;
}
#sliderDiv > a > div:first-child {
    height: 200px;
    flex: 1;
}
#sliderDiv > a > div:first-child > div {
    display: flex;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
}
/* svg exception for chrome : had to remove it to prevent image crop */
#sliderDiv > a > div:first-child > div > img:not([src$='.svg']) {
    object-fit: cover;
}
#sliderDiv > a > div:first-child > div > img[src$='.svg'] {
    padding: 2em;
    width: calc(100% / 1.4142135623730950488016887242097);
}
#sliderDiv > a > div:last-child {
    flex: 2;
    padding: 1em;
}
#sliderDiv > a > div:last-child > p {
    font-style: italic;
    line-height: 2em;
}
#sliderDiv > a > div:last-child > p::before {
    content: "\0000AB" ;
    margin-right: 0.2em;
}
#sliderDiv > a > div:last-child > p::after {
    content: "\0000BB" ;
    margin-left: 0.2em;
}
#sliderDiv > a > div:last-child > div > i {
    color: #FDA100;
    margin-right: 0.5em;
}
#sliderDiv > a > div:last-child > div > span {
    font-weight: 600;
}

#reviewsTableLocation table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
#reviewsTableLocation table img {
    height: 100px;
}
#reviewsTableLocation table tr:nth-child(odd) {
    background-color: white;
}

#reviewsTableLocation table button {
    box-shadow: 8px 8px 8px #000;
    color: #ffffff;
    background-color: #4d4d4d;
    padding: 1em 4em;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    margin: 1em;
    border: none;
}
