#sliderDiv {
    height: auto;
    padding: 2em 0;
}
#sliderDiv > a {
    flex-direction: column;
}

#reviewsTableLocation table button {
    padding: 1em;
    margin: 1em 0;
}

#reviewsTableLocation table td {
    padding: 0.5em 0;
}
