header {
    position: relative;
    overflow: hidden;
}
header > img {
    width: 115%;
    position: absolute;
    z-index: -1;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header > div {
    text-align: center;
    color: #ffffff;
    padding: 3em;
}
header > div > h1 {
    font-size: 3em;
    font-weight: 200;
    position: relative;
    display: inline-block;
    padding: 0.3em 0;
    margin: 0.5em;
}
header > div > h1::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    height: 3px;
    display: block;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
}
header > div > p {
    font-size: 1.5em;
    font-weight: 300;
}
header > div > p:last-child {
    font-size: 1.3em;
}

section {
    display: flex;
}
section > div, section > iframe {
    flex: 1;
}
section > div {
    padding: 6em 3em 6em 6em;
}
section > div > form {
    text-align: right;
}
section > div > form > div {
    text-align: left;
}
section > div > form > div:first-child {
    display: flex;
    flex-direction: column;
}
section > div > form > div > input, section > div > form > div > textarea {
    padding: 1em;
    margin: 1em 0 2em 0;
    font-family: Roboto;
    font-size: 1em;
}
section > div > form > div > input:first-child {
    margin: 1em 0 0 0;
}
section > div > form > div > label {
    font-weight: 300;
}
section > div > form > input {
    color: #ffffff;
    background-color: #4d4d4d;
    padding: 1em 4em;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    border: none;
    margin: 1em 0 2em 0;
}
section > div > form > input:hover {
    color: #ffffff;
    background-color: rgba(77,77,77,0.5);
}

section > iframe {
    padding: 6em 6em 6em 3em;
    border: none;
}

footer > div:first-child {
    display: none;
}
