header {
    overflow: hidden;
}
header > img {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
}
header > div {
    padding: 2em 3em;
}

body > nav {
    flex-direction: column;
    padding: 1em 0em;
}
body > nav > button {
    border-radius: 15px;
    margin: 0em 1em;
    padding: 0em 4em;
}
